h1 {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cabecera {
    color: #da4ba3;
    background-color: #000000;
    margin: 0;
    padding: 10px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cabecera h1 {
    font-size: 50px;
}

.contenedorLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-left: 15px;
}

.mi-nav {
    color: #000000;
    background-color: #da4ba3;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}

.mi-nav:hover {
    background-color: #b13d8b;
}

#nosotros {
    color: #ffffff;
    background-color: #331729;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 20px;
    margin: 0;
    padding: 30px 100px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#nosotros h3 {
    font-size: 30px;
    color: #ffdef4;
    text-align: center;
    background-color: #11010b;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.contenedorCarrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.mi-carrusel {
    width: 600px;
    height: 800px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#estrella {
    font-size: 150px;
    text-align: center;
    color: #e7b8d7;
    background-color: #331729;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#formacion {
    color: #ffffff;
    background-color: #331729;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 20px;
    margin: 0;
    padding: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#formacion h3 {
    font-size: 30px;
    text-align: center;
    color: #ffdef4;
    background-color: #11010b;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#piePagina {
    text-align: center;
    padding: 30px;
    color: #ffffff;
    background-color: #070004;
    border-top: 3px solid #da4ba3;
}

.mi-card {
    width: 22rem !important;
    height: 38rem !important;
    background-color: #11010b !important;
    color: #ffffff !important;
    margin: 10px !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s, box-shadow 0.3s !important;
}

.mi-card:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
}

.card-img-top {
    width: 100%; 
    height: 20rem; 
    object-fit: cover; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.horizontal-card {
    width: 80rem !important;
    height: 20rem !important;
    background-color: #11010b !important;
    color: #ffffff !important;
    margin: 10px !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s, box-shadow 0.3s !important;
    overflow: hidden; 
}

.horizontal-card:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
}


.horizontal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px; 
}


#card-img {
    width: 100%; 
    height: 20rem; 
    object-fit: cover; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.d-flex {
    flex-wrap: wrap ;
    justify-content: center;
}

#productos-destacados {
    color: #ffffff;
    background-color: #331729;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 20px;
    margin: 0;
    padding: 200px 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#productos-destacados h3 {
    font-size: 30px;
    text-align: center;
    color: #ffdef4;
    background-color: #11010b;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.mi-btn {
    background-color: #da4ba3 !important;
    color: #ffffff !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.mi-btn:hover {
    background-color: #721152 !important;
}

#nosotros p {
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #422638;
}

body{
    background-color: #331729 !important;
}

#ropa h1{
    text-align: center;
    color: #ffdef4;
    background-color: #11010b;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#locales{
    color: #ffffff;
    background-color: #331729;
    margin: 0;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#textolocal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #422638;
}

#locales h3 {
    font-size: 30px;
    text-align: center;
    color: #ffdef4;
    background-color: #11010b;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#eventos{
    color: #ffffff;
    background-color: #331729;
    margin: 0;
    padding: 0px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#textoEvento{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #422638;
}

#eventos h3 {
    font-size: 30px;
    text-align: center;
    color: #ffdef4;
    background-color: #11010b;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.btn-outline-secondary {
    border-color: #11010b !important;
    color: #11010b !important;
}

.btn-outline-secondary:hover {
    background-color: #11010b !important; 
    color: #fff !important;
}

#formulario-registro {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #422638;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#formulario-registro h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffdef4;
}


.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffdef4;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #da4ba3;
    border-radius: 5px;
    font-size: 14px;
    background-color: #331729;
    color: #ffffff;
}

.campo input:focus {
    outline: none;
    border-color: #ffdef4;
    box-shadow: 0 0 5px #da4ba3;
}


.error-message {
    font-size: 14px;
    color: #ff7373;
    margin-top: 5px;
    display: none;
}


